APIBanking/Service References/com.quantiguous.api.FundsTransferByCustomerService/fundsTransferByCustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.quantiguous.com/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="fundsTransferByCustomerService" targetNamespace="http://www.quantiguous.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="fundsTransferByCustomerServiceHttpBinding" originalBindingStyle="document" />
        <binding hasEncoding="false" imported="true" name="fundsTransferByCustomerServiceSoap11" originalBindingStyle="document" />
        <generatedXSD location="fundsTransferByCustomerService_InlineSchema1.xsd" />
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.quantiguous.com/services">
      <xsd:include schemaLocation="http://api.quantiguous.com/fundsTransferByCustomerService?xsd=xsd0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="transferRequestMsg">
    <wsdl:part name="transferParameters" element="tns:transfer" />
  </wsdl:message>
  <wsdl:message name="transferResponseMsg">
    <wsdl:part name="transferResult" element="tns:transferResponse" />
  </wsdl:message>
  <wsdl:message name="payInvoiceRequestMsg">
    <wsdl:part name="payInvoiceParameters" element="tns:payInvoice" />
  </wsdl:message>
  <wsdl:message name="payInvoiceResponseMsg">
    <wsdl:part name="payInvoiceResult" element="tns:payInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusRequestMsg">
    <wsdl:part name="getStatusParameters" element="tns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusResponseMsg">
    <wsdl:part name="getStatusResult" element="tns:getStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getBalanceRequestMsg">
    <wsdl:part name="getBalanceParameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceResponseMsg">
    <wsdl:part name="getBalanceResult" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="fundsTransferByCustomerService">
    <wsdl:operation name="transfer">
      <wsdl:documentation>The transfer funds to a beneficiary, the beneificiary could be pre-registered or specified at the time of the transaction. The method of transfer can specified or left to the service to choose.</wsdl:documentation>
      <wsdl:input name="transferRequest" message="tns:transferRequestMsg" />
      <wsdl:output name="transferResponse" message="tns:transferResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="payInvoice">
      <wsdl:documentation>To pay an invoice received from a supplier. Details of the invoice can be supplied , and payment vouchers can be generated and sent to the suppliers for better and easier reconciliation.</wsdl:documentation>
      <wsdl:input name="payInvoiceRequest" message="tns:payInvoiceRequestMsg" />
      <wsdl:output name="payInvoiceResponse" message="tns:payInvoiceResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input name="getStatusRequest" message="tns:getStatusRequestMsg" />
      <wsdl:output name="getStatusResponse" message="tns:getStatusResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input name="getBalanceRequest" message="tns:getBalanceRequestMsg" />
      <wsdl:output name="getBalanceResponse" message="tns:getBalanceResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fundsTransferByCustomerServiceHttpBinding" type="tns:fundsTransferByCustomerService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="transfer">
      <soap12:operation soapAction="http://www.quantiguous.com/services/transfer" />
      <wsdl:input name="transferRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transferResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payInvoice">
      <soap12:operation soapAction="http://www.quantiguous.com/services/payInvoice" />
      <wsdl:input name="payInvoiceRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="payInvoiceResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap12:operation soapAction="http://www.quantiguous.com/services/getStatus" />
      <wsdl:input name="getStatusRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="http://www.quantiguous.com/services/getBalance" />
      <wsdl:input name="getBalanceRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBalanceResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="fundsTransferByCustomerServiceSoap11" type="tns:fundsTransferByCustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="transfer">
      <soap:operation soapAction="http://www.quantiguous.com/services/transfer" />
      <wsdl:input name="transferRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="transferResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payInvoice">
      <soap:operation soapAction="http://www.quantiguous.com/services/payInvoice" />
      <wsdl:input name="payInvoiceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="payInvoiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="http://www.quantiguous.com/services/getStatus" />
      <wsdl:input name="getStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://www.quantiguous.com/services/getBalance" />
      <wsdl:input name="getBalanceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBalanceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fundsTransferByCustomerServiceHttpService">
    <wsdl:port name="fundsTransferByCustomerServiceHttpPort" binding="tns:fundsTransferByCustomerServiceHttpBinding">
      <soap12:address location="http://api.quantiguous.com/fundsTransferByCustomerService" />
    </wsdl:port>
    <wsdl:port name="fundsTransferByCustomerServiceHttpPortSoap11" binding="tns:fundsTransferByCustomerServiceSoap11">
      <soap:address location="/fundsTransferByCustomerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>